.title {
	margin-bottom: 30px;

	transform: translateX(54px);

	font-size: 58px;
	line-height: 1.1;
}

.container {
	width: 100%;
}


.error {
	padding: 10px;

	border: 1px solid red;

	font-size: 24px;
}

.paginations {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	justify-content: center;

	width: 100%;
	max-width: 500px;
	margin: 10px auto 30px;
}

.pager {
	all: unset;
	margin: 0 8px 8px 8px;
	padding: 5px 10px;

	cursor: pointer;

	background-color: rgba(0, 0, 0, 0.4);

	font-size: 16px;
}

.firstSectionTitle {
	margin-bottom: 30px;

	text-align: center;

	font-size: 33px;
	font-weight: 700;
	line-height: 47px;
}

.cards {
	display: flex;
	justify-content: center;

	max-width: 805px;
	margin: 0 auto;
}

.videoCard {
	position: relative;

	display: flex;
	align-items: flex-start;
	flex-direction: column;

	width: 100%;
	max-width: 576px;
	height: auto;
	margin-bottom: 50px;
	padding-bottom: 25px;

	text-align: center;

	color: #FFF;
	border-radius: 22px;
	background-color: rgba(0, 0, 0, 0.9);
	filter:
		drop-shadow(0 69.5875px 139.175px rgba(0, 0, 0, 0.08))
		drop-shadow(0 14.65px 43.95px rgba(0, 0, 0, 0.06));
}

.videoInner {
	display: flex;

	width: 100%;
	margin-bottom: 20px;
}

.hashTags {
	display: flex;
	flex-wrap: wrap;

	width: 100%;
	margin-bottom: 15px;
	padding: 0 10px;
}

.hashTag {
	margin-right: 5px;
	margin-bottom: 5px;
	padding: 5px 8px;

	color: #FFF;
	border: 1px solid blue;
	border-radius: 10px;
	background-color: rgb(45, 0, 151);
}

.videoCard:not(:first-child) {
	margin-left: 28px;
}

.creator,
.videoText {
	color: #000;
}

.creator {
	position: absolute;
	top: 15px;
	left: 15px;

	display: flex;
	align-items: center;

	margin-top: 10px;
	margin-bottom: 26px;

	font-size: 17px;
	font-weight: 700;
	line-height: 22px;
}

.creatorAvatar {
	border-radius: 50%;
}

.creatorName {
	margin-left: 10px;

	color: #FFF;
	text-shadow: -1px 1px 7px #EB4040;

	font-size: 22px;
}

.videoText {
	display: flex;
	align-items: center;
	flex: 1;

	margin-bottom: 10px;
	padding: 0 10px;

	font-size: 18px;
	font-weight: 300;
	line-height: 22px;
}

.likes,
.comments,
.videoText {
	padding: 0 10px;

	color: rgb(251, 251, 251);

	font-size: 20px;
}

.comments {
	margin-bottom: 8px;
}

@media (max-width: 1230px) {
}

@media (max-width: 976px) {
	.title {
		margin-top: 0;
		margin-bottom: 30px;

		transform: translateX(0);
	}

}

@media (max-width: 576px) {
	.title {
		font-size: 48px;
	}

	.cards {
		align-items: center;
		flex-direction: column;
	}

	.videoCard:not(:first-child) {
		margin-top: 20px;
	}
}

@media (max-width: 476px) {
	.title {
		font-size: 38px;
	}
}

@media (max-width: 375px) {
}
